/*
    Theme Name: Botchan
    Theme URL: https://allrite.at/
    Author: Andrew Wright
    Author URI: http://allrite.net
    Description: A story telling theme using the Aesop Story Engine and Bootstrap 4.
    Version: 0.39
    Bitbucket Theme URI: https://bitbucket.com/allrite/botchan
    Bitbucket Branch: master
*/

html {
    position: relative;
    min-height: 100%;
  }

body {
    /* Margin bottom by footer height */
    /* margin-bottom: 150px; */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* min-height: 150px; */
}

.jumbotron-heading {
    /*
    background: url('../../wp-content/themes/botchan/assets/images/dogo-onsen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    */
    color: #fff;
}

.jumbotron-heading a {
    color: #fff;
}

.jumbotron-post {
    
}

.jumbotron-scrim {
    background: rgba(0, 0, 0, 0.6); 
    padding: 25px;
    border-radius: 25px;
}

.widget-heading {
    font-size: 1.2rem;
}

ul.tags {
    list-style-type: none;
    margin-bottom: 60px;
}
ul.tags li {
    display: inline;
    margin-right: 1rem;
}



.content-container {
    margin-bottom: 250px;
}

.post-categories {
    list-style-type: none;
}

.post-categories li {
    display: inline;
    margin-right: 1rem;
}

.postlist-container {
    padding-top: 50px;
}

.page-numbers {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
}

.current {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.comments-area {
    margin-top: 50px;
}

.comment-form-comment label {
    font-weight: bold;
}
.comment-form-comment textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.submit {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.aesop-video-container iframe {
    width:100%;
    max-width:1149px;
    height: 646px;
    margin:0 auto;
}

.aesop-toggle-chapter-menu {
    display: none;
}

/* Footer */

#footer-widgets-area {
    padding-top: 20px;
}

.footer a {
    color: #fff;
}

.footer-widget {
    background-color:#45505b;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.footer-widget a {
    color: #f90;
}

.post-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content p, .post-content .wp-block-image {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}